#myProgress {
  width: 300px;
  background-color: grey;
}
#myBar {
  width: 30px;
  height: 30px;
  background-color: green;
}

body{
  font: arial sans;
  font-size: 14pt;
  background-color: #ccc;
}
div.user{
  float: left;
  margin-left: 5px;
}

div.track{
  padding: 0px;
  margin: 0px;
  height: 64px;
}

ul#playlist{
  list-style-type: none;
  width: 400px;
  margin: 0px auto;
  padding: 0;
}

ul#playlist li{
  list-style-type: none;
  width: 400px;
  margin: 0px auto;
  padding: 0;
}

span.trackname{
}
img.cover{
  float: left;
  clear: right;
}

div#header{
  width: 100%;
  clear: both;
}

div#header p{
  float: left;
  margin: 5px;
}

div#header h4{
  clear: both;
}

.track{
  height: 64px;
  width: 400px;
  overflow: hidden;
}

.track img.cover{
  float: left
}

.track span.artist{
  float: left;
  display:block;
  width: 176px;
}

.track span.title{
  float: left;
  display:block;
  width: 176px;
}

i{
  display: none;
}

li.track i.fa{
  float: right;
}

i.fa:hover{
  color: blue;
}

i.fa-arrow-up:hover{
  color: blue;
}

i.fa-trash:hover{
  color: red;
}


div#explanation{
  font-size: 16pt;
  clear: both;
}

body {
  font: 11px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
  background-color: white;
}

div.tooltip{
  height: 75px;
  width: 200px;
}

div.tooltip img{
  float: left
}

div.tooltip div{
  float: right
  width: 140px;
}


ul#seedsongs{
  float: left;
}

div#ybuttons{
  float: left
}

div#xbuttons{
  clear: left;
}
div#xbuttons div{
  float: left;
  width: 120px;
}

div.selected{
  font-weight: bold;
}

circle.selected{

}
svg{
  float: left;
}

div#explanation{
  font-size: 16pt;
  clear: both;
}

div#playlist{
  float: right;
  clear:right;
}

.track{
  height: 64px;
  width: 400px;
  overflow: hidden;
}

.track img.cover{
  float: left
}

.track span.artist{
  float: left;
  display:block;
  width: 176px;
}

.track span.title{
  float: left;
  display:block;
  width: 176px;
}

i{
  display: none;
}
