{% extends "layout.html" %}
{% block body %}
    <h2>Create a New Playlist</h2>
    <form action="/party" method="post">
      <input type="hidden" name="action" value="new" />
      Name for the new playlist: <input type="text" name="partyname" />
      <input type="submit" />
    </form>
    <h2>Join an existing Playlist</h2>
    {% for id,listeners in parties.items() %}
    <div class="party">
      <div class="metadata">
          <span class="party"> Party named <a href="/party?action=join&partyname={{ id }}">{{ id }}</a></span> with listeners : <span class="listeners"> {{ ",".join(listeners) }} </span>
      </div>
    </div>
    {% endfor %}
{% endblock %}