{% extends "layout.html" %}
{% block body %}
  <a href="seedsong">Add more songs to base the playlist on</a><br />
  <a id="tospotify">Send to Spotify Player</a>:
  <select id="player" name="player">
    {% for player in playlist["players"] %}
    <option value="{{ player['id'] }}">{{ player['name'] }} ({{ player['type'] }})</option>
    {% endfor %}
  </select><br />
  <a id="saveplaylist">Save as Spotify Playlist</a>
  <ul id="playlist">
  {% for index,track in playlist["playlist"].iterrows() %}
    <li class="track">
      <img class="cover" src="{{ track["imageurl"] }}" />
      <span class="trackname"> {{ track["name"] }} </span><br />
      <span class="artist"> {{ track["artist"]}} </span>
      <!---<i class="fa fa-trash" aria-hidden="true"></i>
      <i class="fa fa-arrow-up" aria-hidden="true"></i>--->
      <span class="blame"> {{ track["userid"] }}</span>
    </li>
  {% endfor %}
  </ul>
<script type="text/javascript">
  $("#tospotify").click(function(){
      $.ajax("/tospotify?player="+$("#player").val())
  })
  $("#saveplaylist").click(function(){
      $.ajax({"url":"/saveplaylist", "success":function(){alert("Saved to your Spotify Account")}})
  })
</script>
{% endblock %}
