{% extends "layout.html" %}
{% block body %}
<h1>Me</h1>
<h2>{{ profile["userinfo"][0]["display_name"] }} / {{ profile["userinfo"][0]["userid"] }} </h2>
<img src="{{ profile["userinfo"][0]["image_url"] }}" />
<img src="/featureplots.png" />
<img src="/evplot.png" />
{% endblock %}