<!DOCTYPE html>
<html>
<meta charset="utf-8">

<!-- Example based on http://bl.ocks.org/mbostock/3887118 -->
<!-- Tooltip example from http://www.d3noob.org/2013/01/adding-tooltips-to-d3js-graph.html -->
<!-- Coding style based on http://gist.github.com/mbostock/5977197 -->

<style>
  body {
    font: 11px sans-serif;
    background-image: url('{{ url_for('static', filename='img/bg.png')}}');
    background-repeat: no-repeat;
    padding-top: 144px;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .dot {
    stroke: #000;
  }

  .tooltip {
    position: absolute;
    width: 200px;
    height: 28px;
    pointer-events: none;
    background-color: white;
  }

  div.tooltip{
    height: 75px;
    width: 200px;
  }

  div.tooltip img{
    float: left
  }

  div.tooltip div{
    float: right
    width: 140px;
  }


  ul#seedsongs{
    float: left;
  }

  div#ybuttons{
    float: left
  }

  div#xbuttons{
    clear: left;
  }
  div#xbuttons div{
    float: left;
    width: 120px;
  }

  div.selected{
    font-weight: bold;
  }

  circle.selected{

  }
  svg{
    float: left;
  }

  div#explanation{
    font-size: 16pt;
    clear: both;
  }

  div#playlist{
    float: right;
    clear:right;
  }

  .track{
    height: 64px;
    width: 400px;
    overflow: hidden;
  }

  .track img.cover{
    float: left
  }

  .track span.artist{
    float: left;
    display:block;
    width: 176px;
  }

  .track span.title{
    float: left;
    display:block;
    width: 176px;
  }

  i{
    display: none;
  }

</style>
<body>
<div id="explanation">
  <span style="float:left; clear:both">This is the Interface for Making Playlists.</span>
  <span style="clear: left;width:640px; float:left">This graphs shows a 2D music feature space of your favorite songs and those of others. Larger dots show the songs present in the current play list. Clicking on any other song will update the playlist, incorporating songs similar to the song clicked. Select other features to browse through other feature representations.</span>
  <span style="float:right; width:600px; clear:right">Below the current playlist with recommended song titles and artists and which user contributed this song to the list. When you are satisfied with the list, you can download it to your spotify account.</span>
</div>
<div style="clear:both"></div>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    var seedsongs = {{ seedsongs["seedsongs"]|safe }}
    var playlist = {{ seedsongs["playlist"].to_json(orient="records")|safe}}
    var margin = {top: 20, right: 20, bottom: 30, left: 40},
        width = 640 - margin.left - margin.right,
        height = 640 - margin.top - margin.bottom;

    /*
     * value accessor - returns the value to encode for a given data object.
     * scale - maps value to a visual display encoding, such as a pixel position.
     * map function - maps from data value to display value
     * axis - sets up axis
     */

    var libsize = 0

    var properties = ["popularity", "acousticness", "danceability", "energy", "instrumentalness", "liveness", "speechiness", "valence"]

    var xvar = "valence"
    var yvar = "energy"

    // setup x
    var xValue = function(d) { return d[xvar];}, // data -> value
        xScale = d3.scale.linear().range([0, width]), // value -> display
        xMap = function(d) { return xScale(xValue(d));}, // data -> display
        xAxis = d3.svg.axis().scale(xScale).orient("bottom");

    // setup y
    var yValue = function(d) { return d[yvar];}, // data -> value
        yScale = d3.scale.linear().range([height, 0]), // value -> display
        yMap = function(d) { return yScale(yValue(d));}, // data -> display
        yAxis = d3.svg.axis().scale(yScale).orient("left");

    // setup fill color
    var cValue = function(d) { return d.userid;},
        color = d3.scale.category10();

    // add the graph canvas to the body of the webpage
    var svg = d3.select("body").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    // add the tooltip area to the webpage
    var tooltip = d3.select("body").append("div")
        .attr("class", "tooltip")
        .style("opacity", 0);

    // load data
    d3.csv("/library", function(error, data) {
        // change string (from CSV) into number format
        data.forEach(function(d) {
            if(properties.length == 0){
                properties = keys(d)
            }
            d.valence = +d.valence;
            d.energy = +d.energy;
            //d["Protein (g)"] = +d["Protein (g)"];
//    console.log(d);
        });
        libsize = data.length
        // don't want dots overlapping axis, so add in buffer to data domain
        xScale.domain([0, 1]);
        yScale.domain([0, 1]);

        // x-axis
        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis)
            .append("text")
            .attr("class", "label")
            .attr("x", width)
            .attr("y", -6)
            .style("text-anchor", "end")
            .text(xvar);

        // y-axis
        svg.append("g")
            .attr("class", "y axis")
            .call(yAxis)
            .append("text")
            .attr("class", "label")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", ".71em")
            .style("text-anchor", "end")
            .text(yvar);

        // draw dots
        svg.selectAll(".dot")
            .data(data)
            .enter().append("circle")
            .attr("class", "dot")
            .attr("r", function(d) { return d.id in seedsongs ? "7" : "3.5"})
            .attr("cx", xMap)
            .attr("cy", yMap)
            .style("fill", function(d) { return color(cValue(d));})
            .on("mouseover", function(d) {
                $("#audioplayer")[0].src = d.preview_url;
                $("#audioplayer")[0].play();
                tooltip.transition()
                    .duration(200)
                    .style("opacity", .9);
                tooltip.html('<img src="' + d.imageurl + '"/><div>' + d.firstartist + "-" + d.name + "<br/> (" + xValue(d)
                    + ", " + yValue(d) + ")</div>")
                    .style("left", (d3.event.pageX + 5) + "px")
                    .style("top", (d3.event.pageY - 28) + "px");
            })
            .on("mouseout", function(d) {
                $("#audioplayer")[0].pause();
                tooltip.transition()
                    .duration(500)
                    .style("opacity", 0);
            })
            .on("click", function(d){
                that = $(this)
                $("#playlist-tracks").empty();
                $("#playlist-tracks").text("Creating new playlist...")
                $.post({url: "/addseedsong",
                    data:{"track":d.id, "artist":d.firstartist, "name":d.name},
                    dataType:"json",
                    success: function(data){
                        //add seedsongs to list
                        if($("ul#seedsongs").has("li#"+d.uri).length > 0){
                            $("ul#seedsongs li#"+d.uri).remove()
                        }else{
                            $("ul#seedsongs").prepend($("<li>").attr("id", d.uri).text(d.firstartist + " - " + d.name))
                        }
                        if(that.attr("r") == 3.5){
                            that.attr("r", 7)
                        }else{
                            that.attr("r", 3.5)
                        }
                        //display playlist
                        console.log(data)
                        //PLOT PLAYLIST IN GRAPH
                        playlist=data["playlist"]
                        var svg = d3.select("svg");
                        var dots = svg.selectAll("circle").data(playlist)
                        dots.enter()
                            .append("circle")
                            .attr("r", 10)
                            .style("fill", function(d) { return color(cValue(d));})
                            .on("mouseover", function(d) {
                                if (d.preview_url != null){
                                    $("#audioplayer")[0].src = d.preview_url;
                                    $("#audioplayer")[0].play();
                                }
                                tooltip.transition()
                                    .duration(200)
                                    .style("opacity", .9);
                                tooltip.html('<img src="' + d.imageurl + '"/><div>' + d.artist + "-" + d.name + "<br/> (" + xValue(d)
                                    + ", " + yValue(d) + ")</div>")
                                    .style("left", (d3.event.pageX + 5) + "px")
                                    .style("top", (d3.event.pageY - 28) + "px");
                            })
                            .on("mouseout", function(d) {
                                $("#audioplayer")[0].pause();
                                tooltip.transition()
                                    .duration(500)
                                    .style("opacity", 0);
                            });
                        dots.transition()
                            .attr("cx", xMap)
                            .attr("cy", yMap)
                            .attr("r", 10)
                            .style("fill", function(d) { return color(cValue(d));})

                        /*
                        svg.selectAll(".playlist").remove();

                        svg.selectAll(".dot")
                            .data(playlist).enter()
                            .append("circle")
                            .attr("class","dot")
                            .attr("r", function(d) { return d.id in seedsongs["seedsongs"] ? "7" : "3.5"})
                            .attr("cx", xMap)
                            .attr("cy", yMap)
                            .style("fill", function(d) { return color(cValue(d));})
                        */
                        seedsongs = data["seedsongs"]
                        $("#playlist-tracks").empty();
                        for (id in playlist) {
                            $("#playlist-tracks").append(
                                $("<li>").addClass("track")
                                    .append($("<img>").attr("src", playlist[id].imageurl).addClass("cover"))
                                    .append($("<span>").addClass("trackname").text(playlist[id].name))
                                    .append("<br />")
                                    .append($("<span>").addClass("artist").text(playlist[id].artist))
                                    .append($("<span>").addClass("blame").text(playlist[id].userid))
                            )
                        }
                    }
                });
            });
        var dots = svg.selectAll("circle").data(playlist)
        dots.enter()
            .append("circle")
            .attr("r", 10)
            .style("fill", function(d) { return color(cValue(d));})
            .on("mouseover", function(d) {
                if (d.preview_url != null){
                    $("#audioplayer")[0].src = d.preview_url;
                    $("#audioplayer")[0].play();
                }
                tooltip.transition()
                    .duration(200)
                    .style("opacity", .9);
                tooltip.html('<img src="' + d.imageurl + '"/><div>' + d.artist + "-" + d.name + "<br/> (" + xValue(d)
                    + ", " + yValue(d) + ")</div>")
                    .style("left", (d3.event.pageX + 5) + "px")
                    .style("top", (d3.event.pageY - 28) + "px");
            })
            .on("mouseout", function(d) {
                $("#audioplayer")[0].pause();
                tooltip.transition()
                    .duration(500)
                    .style("opacity", 0);
            });
        dots.transition()
            .attr("cx", xMap)
            .attr("cy", yMap)
            .attr("r", 10)
            .style("fill", function(d) { return color(cValue(d));})

        // draw legend
        var legend = svg.selectAll(".legend")
            .data(color.domain())
            .enter().append("g")
            .attr("class", "legend")
            .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

        // draw legend colored rectangles
        legend.append("rect")
            .attr("x", width - 18)
            .attr("width", 18)
            .attr("height", 18)
            .style("fill", color);

        // draw legend text
        legend.append("text")
            .attr("x", width - 24)
            .attr("y", 9)
            .attr("dy", ".35em")
            .style("text-anchor", "end")
            .text(function(d) { return d;})
    });

    function updateData(variable, axis) {
        var svg = d3.select("body").transition();
        if(axis == "x"){
            xvar = variable
            svg.select(".x.axis text.label")
                .text(variable)
            $("#xbuttons div").each(function(){
                if($(this).text() == variable){
                    $(this).addClass("selected")
                }else{
                    $(this).removeClass("selected")
                }
            });
        }
        else{
            yvar = variable
            svg.select(".y.axis text.label")
                .text(variable)
            $("#ybuttons div").each(function(){
                if($(this).text() == variable){
                    $(this).addClass("selected")
                }else{
                    $(this).removeClass("selected")
                }
            });
        }
        if(variable == "popularity"){
            if(axis == "x"){
                xScale.domain([0,100]);
            }else{
                yScale.domain([0,100]);
            }
        }
        else{
            if(axis == "x"){
                xScale.domain([0,1]);
            }else{
                yScale.domain([0,1]);
            }
        }
        // Select the section we want to apply our changes to

        // Make the changes
        svg.selectAll(".dot")
            .attr("cx", xMap)
            .attr("cy", yMap)


    }

    function renewplaylist(newplaylist){
        //fucking UL
        $("#playlist-tracks").empty();
            for (id in newplaylist) {
                $("#playlist-tracks").append(
                    $("<li>").addClass("track")
                        .append($("<img>").attr("src", newplaylist[id].imageurl).addClass("cover"))
                        .append($("<span>").addClass("trackname").text(newplaylist[id].name))
                        .append("<br />")
                        .append($("<span>").addClass("artist").text(newplaylist[id].artist))
                        .append($("<span>").addClass("blame").text(newplaylist[id].userid))
                )
            }
        //fucking dots
        var svg = d3.select("svg");
                        var dots = svg.selectAll("circle").data(newplaylist)
                        dots.enter()
                            .append("circle")
                            .attr("r", 10)
                            .on("mouseover", function(d) {
                                if (d.preview_url != null){
                                    $("#audioplayer")[0].src = d.preview_url;
                                    $("#audioplayer")[0].play();
                                }
                                tooltip.transition()
                                    .duration(200)
                                    .style("opacity", .9);
                                tooltip.html('<img src="' + d.imageurl + '"/><div>' + d.artist + "-" + d.name + "<br/> (" + xValue(d)
                                    + ", " + yValue(d) + ")</div>")
                                    .style("left", (d3.event.pageX + 5) + "px")
                                    .style("top", (d3.event.pageY - 28) + "px");
                            })
                            .on("mouseout", function(d) {
                                $("#audioplayer")[0].pause();
                                tooltip.transition()
                                    .duration(500)
                                    .style("opacity", 0);
                            });
                        dots.transition()
                            .attr("cx", xMap)
                            .attr("cy", yMap)

                            .attr("r", 10)

    }

    function renewlibrary(newlib){
        svg.selectAll(".dot")
            .data(newlib)
            .enter().append("circle")
            .attr("class", "dot")
            .attr("r", function(d) { return d.id in seedsongs ? "7" : "3.5"})
            .attr("cx", xMap)
            .attr("cy", yMap)
            .style("fill", function(d) { return color(cValue(d));})
            .on("mouseover", function(d) {
                $("#audioplayer")[0].src = d.preview_url;
                $("#audioplayer")[0].play();
                tooltip.transition()
                    .duration(200)
                    .style("opacity", .9);
                tooltip.html('<img src="' + d.imageurl + '"/><div>' + d.firstartist + "-" + d.name + "<br/> (" + xValue(d)
                    + ", " + yValue(d) + ")</div>")
                    .style("left", (d3.event.pageX + 5) + "px")
                    .style("top", (d3.event.pageY - 28) + "px");
            })
            .on("mouseout", function(d) {
                $("#audioplayer")[0].pause();
                tooltip.transition()
                    .duration(500)
                    .style("opacity", 0);
            })
            .on("click", function(d){
                that = $(this)
                $("#playlist-tracks").empty();
                $("#playlist-tracks").text("Creating new playlist...")
                $.post({url: "/addseedsong",
                    data:{"track":d.id, "artist":d.firstartist, "name":d.name},
                    dataType:"json",
                    success: function(data){
                        //add seedsongs to list
                        if($("ul#seedsongs").has("li#"+d.uri).length > 0){
                            $("ul#seedsongs li#"+d.uri).remove()
                        }else{
                            $("ul#seedsongs").prepend($("<li>").attr("id", d.uri).text(d.firstartist + " - " + d.name))
                        }
                        if(that.attr("r") == 3.5){
                            that.attr("r", 7)
                        }else{
                            that.attr("r", 3.5)
                        }
                        //display playlist
                        console.log(data)
                        //PLOT PLAYLIST IN GRAPH
                        playlist=data["playlist"]
                        var svg = d3.select("svg");
                        var dots = svg.selectAll("circle").data(playlist)
                        dots.enter()
                            .append("circle")
                            .attr("r", 10)
                            .on("mouseover", function(d) {
                                if (d.preview_url != null){
                                    $("#audioplayer")[0].src = d.preview_url;
                                    $("#audioplayer")[0].play();
                                }
                                tooltip.transition()
                                    .duration(200)
                                    .style("opacity", .9);
                                tooltip.html('<img src="' + d.imageurl + '"/><div>' + d.artist + "-" + d.name + "<br/> (" + xValue(d)
                                    + ", " + yValue(d) + ")</div>")
                                    .style("left", (d3.event.pageX + 5) + "px")
                                    .style("top", (d3.event.pageY - 28) + "px");
                            })
                            .on("mouseout", function(d) {
                                $("#audioplayer")[0].pause();
                                tooltip.transition()
                                    .duration(500)
                                    .style("opacity", 0);
                            });
                        dots.transition()
                            .attr("cx", xMap)
                            .attr("cy", yMap)
                            .attr("r", 10)
                            .style("fill", function(d) { return color(cValue(d));})

                        /*
                        svg.selectAll(".playlist").remove();

                        svg.selectAll(".dot")
                            .data(playlist).enter()
                            .append("circle")
                            .attr("class","dot")
                            .attr("r", function(d) { return d.id in seedsongs["seedsongs"] ? "7" : "3.5"})
                            .attr("cx", xMap)
                            .attr("cy", yMap)
                            .style("fill", function(d) { return color(cValue(d));})
                        */
                        seedsongs = data["seedsongs"]
                        $("#playlist-tracks").empty();
                        for (id in playlist) {
                            $("#playlist-tracks").append(
                                $("<li>").addClass("track")
                                    .append($("<img>").attr("src", playlist[id].imageurl).addClass("cover"))
                                    .append($("<span>").addClass("trackname").text(playlist[id].name))
                                    .append("<br />")
                                    .append($("<span>").addClass("artist").text(playlist[id].artist))
                                    .append($("<span>").addClass("blame").text(playlist[id].userid))
                            )
                        }
                    }
                });
            });

        var legend = svg.selectAll(".legend")
            .data(color.domain())
            .enter().append("g")
            .attr("class", "legend")
            .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

        // draw legend colored rectangles
        legend.append("rect")
            .attr("x", width - 18)
            .attr("width", 18)
            .attr("height", 18)
            .style("fill", color);

        // draw legend text
        legend.append("text")
            .attr("x", width - 24)
            .attr("y", 9)
            .attr("dy", ".35em")
            .style("text-anchor", "end")
            .text(function(d) { return d;})
    }
</script>
<div id="playlist">
  <h2>Current Playlist</h2>
  <a id="saveplaylist">Save as Spotify Playlist</a>
  <ul id="playlist-tracks">
    {% for index,track in seedsongs["playlist"].iterrows() %}
    <li class="track">
      <img class="cover" src="{{ track["imageurl"] }}" />
      <span class="trackname"> {{ track["name"] }} </span><br />
      <span class="artist"> {{ track["artist"]}} </span>
      <!---<i class="fa fa-trash" aria-hidden="true"></i>
      <i class="fa fa-arrow-up" aria-hidden="true"></i>--->
      <span class="blame"> {{ track["userid"] }}</span>
    </li>
    {% endfor %}
  </ul>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $("body").append($("<div>").attr("id","xbuttons").append($("<h2>").text("X-axis")));
        properties.forEach(function(index){
            $("div#xbuttons").append($("<div>")
                .text(index)
                .click(index,function(index){
                    updateData(index.data, "x")
                })
            )
        });
        $("<div>").attr("id","ybuttons").append($("<h2>").text("Y-axis")).insertBefore($("svg"));
        properties.forEach(function(index){
            $("div#ybuttons").append($("<div>")
                .text(index)
                .click(index,function(index){
                    updateData(index.data, "y")
                })
            )
        });
    });

    function checknewlibrary(){
        d3.csv("/library", function(error, data) {
             if (data.length > libsize){
                 libsize = data.length
                 renewlibrary(data)
             }
         })
        setTimeout(checknewlibrary, 5000)
    }
    setTimeout(checknewlibrary, 5000)

    function checknewplaylist(){
        $.get({
            url: "/playlist",
            dataType: "json",
            success: function(data){
                if(data != playlist){
                    playlist = data
                    renewplaylist(data)
                }
            }
        })
        setTimeout(checknewplaylist, 5000)
    }
    setTimeout(checknewplaylist, 5000)
    $("#tospotify").click(function(){
      $.ajax("/tospotify?player="+$("#player").val())
  })
  $("#saveplaylist").click(function(){
      $.ajax({"url":"/saveplaylist", "success":function(){alert("Saved to your Spotify Account")}})
  })
</script>
<video id="audioplayer" style="height: 0px; width: 0px;">
  <source src="" type="audio/mpeg">
</video>
<!---
<ul id="seedsongs"><li><a href="/party/{{ session["partyid"] }}?action=recalculate">Go to the group playlist.</a></li>
</ul>
<script type="text/javascript">
  for (obj in seedsongs){
      if(obj != ""){
        $("ul#seedsongs").prepend($("<li>").attr("id", obj).text(seedsongs[obj].artist + " - " + seedsongs[obj].track))
      }
  }
</script>
--->
</body>
</html>